<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <creditpayment>
                <active>1</active>
                <title>Faspay Credit Payment</title>
                <model>Faspay\Credit\Model\Payment\PaymentMethod</model>
                <order_status>pending</order_status>
                <is_production>0</is_production>
            </creditpayment>

            <mid_1>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid1</model>
            </mid_1>
            <mid_2>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid2</model>
            </mid_2>
            <mid_3>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid3</model>
            </mid_3>
            <mid_4>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid4</model>
            </mid_4>
            <mid_5>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid5</model>
            </mid_5>
            <mid_6>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid6</model>
            </mid_6>
            <mid_7>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid7</model>
            </mid_7>
            <mid_8>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid8</model>
            </mid_8>
            <mid_9>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid9</model>
            </mid_9>
            <mid_10>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid10</model>
            </mid_10>
            <mid_11>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid11</model>
            </mid_11>
            <mid_12>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid12</model>
            </mid_12>
            <mid_13>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid13</model>
            </mid_13>
            <mid_14>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid14</model>
            </mid_14>
            <mid_15>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid15</model>
            </mid_15>
            <mid_16>
                <active>0</active>
                <model>Faspay\Credit\Model\Payment\mid16</model>
            </mid_16>

        </payment>
    </default>
</config>